body{
    background-image: url(immagini/background.jpg);
    background-size: cover;
}

.container {
    background-color: rgba(0,0,0,0.4);
    border-radius: 2%;
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    padding-top: 65px;
    padding-bottom: 120px;
}

.logo {
    width: auto;
    height: 100px;

}

header, .click{
    text-align: center;
}

header >h1 {
    color: rgb(28, 231, 28);
    margin-bottom: 1px;
    margin-top: 1px;
}

/* pulsanti */
.click{
    background-color: rgb(28, 231, 28);
    margin-left: 80px;
    margin-right: 80px;
    height: 45px;
}

div > button{
    margin-top: 13px;
}

/* inizio main  */
.scooter{
    color: white;
    margin-left: 80px;
}

h2{
    display: inline-block;
    margin-bottom: 1px;
}

p{
    margin-top: 2px;
    margin-bottom: 1px;
}

hr{
    height: 30px;
    border: 0;
    border-radius: 10px;
}

/* livello carica */
#gino22{
    background-color: orange;
    margin-right: 720px;
}

#mike24{
    background-color: green;
    margin-right: 450px;
}

#fede154{
    background-color: red;
    margin-right: 900px;
}